<!DOCTYPE html>

<html lang="en">

	<h1>User Data</h1>
	<hr class="light">
	<br>

	<form id="encrypt_data" class="inline" action="/encryptDecrypt" method="post">
		<input type="hidden" name="type" value="encrypt">
    	<input class="background_green" type="submit" value="ENCRYPT DATA"/>
	</form>
	<form id="decrypt_data" class="inline" action="/encryptDecrypt" method="post">
		<input type="hidden" name="type" value="decrypt">
    	<input class="background_red" type="submit" value="DECRYPT DATA"/>
	</form>
	<br>
	{{#if decryptError}}
		<p class="text_red">Decryption error! Ensure data is not already decrypted, or try "Reset Database" below, then try encryption again.</p>
	{{else}}
		<p>Encryption/decryption successful.</p>
	{{/if}}
	
	<table class="markdown word_break" id="userData">
		<tr class="text_small no_wrap">
		    <th>userId</th>
		    <th>passwordSalt</th>
		    <th>passwordHash</th>
		    <th>userName</th>
		    <th>userData</th>
		</tr>
	    
	    {{#users}}
		<tr class="text_small">
			<td>{{userId}}</td>
			<td class="col_max_width_20em">{{passwordSalt}}</td>
			<td class="col_max_width_20em">{{passwordHash}}</td>
			<td class="col_max_width_20em">{{userName}}</td>
			<td class="no_wrap col_max_width_20em">{{userData}}</td>
		<tr>
		{{/users}}
	</table>

	<hr>

	<h1>Utilities</h1>
	<hr class="light">

	<h3>Reset Database</h3>
		<form action="/admin" method="post">
        	<input type="hidden" name="type" value="resetDatabase">
            <input type="submit" value="Reset Users table to sample data"/>
        </form>
	<hr>

	<h3>Submit Query</h3>
	<p>Submit any valid MariaDB query to database {{#if sqlError}}<span class="text_red">Error! Invalid query</span>{{/if}}
		<form action="/admin" method="post">
            <fieldset>
                <legend>Submit Query</legend>
                	<input type="hidden" name="type" value="submitQuery">
                    <label>Enter query:
                        <input type="text" name="query" size="64" placeholder="INSERT INTO Users VALUES (6,'foo','bar','baz','bop');" required>
                    </label>
                    <input type="submit" value="Submit"/>
            </fieldset>
        </form>
	<hr>

	<h3>salt_and_hash</h3>
	<p>Generate a salted and hashed password using the <code>crypto</code> module in nodejs:</br>
        <form action="/admin" method="post">
            <fieldset>
                <legend>salt_and_hash</legend>
                	<input type="hidden" name="type" value="saltAndHash">
                	<label>Select salt length:
                		<select name="salt_length">
                			<option value="32" selected>32</option>
                			<option value="64">64</option>
                			<option value="128">128</option>
                			<option value="256">256</option>
                		</select>
                    <label>Enter password:
                        <input type="text" name="password" size="20" maxlength="30" placeholder="..." required>
                    </label>
                    <input type="submit" value="Submit"/>
            </fieldset>
        </form>
    </p>
    Results:<br>
    <table class="markdown">
    	<tr>
    		<td>Salt</td>
    		<td><code class="word_break inherit_colors">{{salt}}</code></td>
    	</tr>
    	<tr>
    		<td>Hashed password</td>
    		<td><code class="inherit_colors">{{salt_and_hash}}</code></td>
    	</td>
    </table>
    
</html>
